@use "../colors" as c;
@use "../mixins" as m;

#form {
  .tab {
    &:nth-child(2) {
      .plan {
        cursor: pointer;
        border: 1px solid c.$light-gray;
        @include m.rounded(8px);
        padding: 20px 15px;

        @media (max-width: 570px) {
          @include m.flex($items: flex-start, $gap: 15px);
        }

        &:hover {
          border-color: c.$purplish-blue;
          transition-duration: 300ms;
        }

        &.selected {
          background-color: c.$alabaster;
          border-color: c.$purplish-blue;
        }

        div.plan-description {
          margin-top: 40px;
          @include m.flex($dir: column, $gap: 4px);

          h4 {
            color: c.$marine-blue;
            font-weight: 500;
          }

          span {
            font-size: 14px;
            color: c.$cool-gray;
          }

          p {
            font-size: 12px;
            color: c.$marine-blue;
            margin-top: 2px;
          }

          @media (max-width: 570px) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
